## 2) Read and Write to csv

In [118]:
#import pandas
import pandas as pd

In [119]:
#Read from csv
df = pd.read_csv('iris.csv',index_col = 0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [120]:
#Write to csv
df.to_csv('my_iris.csv')

In [121]:
df = pd.read_csv('my_iris.csv',index_col=0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [122]:
#Write rows into csv

#List for columns
sep_len = ['6','5.8']
sep_wd = ['2.3','5.7']
pet_len = ['1.3','1.4']
pet_wd = ['0.3','0.2']
sp = ['My-species1','My-species2']

#Combine lists data for rows
#my_data = {'SepalLengthCm':sep_len,'SepalWidthCm':sep_wd, 'PetalLengthCm':pet_len,'PetalWidthCm':pet_wd,'Species':sp }
df = pd.DataFrame([['151','6','2.3','1.3','0.3','My-species1']],
              columns = ['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species'] )
print(df)

    Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm      Species
0  151             6          2.3           1.3          0.3  My-species1

In [123]:
#Write my data to csv file
df.to_csv('my_iris.csv', mode='a', header=False, index=False)
df.tail()

    Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm      Species
0  151             6          2.3           1.3          0.3  My-species1